# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kruisfontein,-34.0033,24.7314,64.89,70,86,16.04,ZA,1649498125
1,1,bluff,-46.6000,168.3333,57.34,77,44,21.03,NZ,1649498126
2,2,port alfred,-33.5906,26.8910,63.18,88,99,4.00,ZA,1649498126
3,3,kiunga,-6.1219,141.2906,74.64,98,96,2.95,PG,1649498126
4,4,hermanus,-34.4187,19.2345,69.80,48,1,23.64,ZA,1649497900

In [3]:
len(city_data_df)

594

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# Create a list of locations that are between 70 and 80 deg with no cloud cover and wind speed less than 10 mph. drop non
# qualifiying locations and create a perfect_place list
perfect_place = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
perfect_place

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
40,40,port augusta,-32.5000,137.7667,75.06,29,0,7.99,AU,1649498130
60,60,cape town,-33.9258,18.4232,76.12,37,0,8.99,ZA,1649497856
71,71,abha,18.2164,42.5053,77.25,11,0,5.75,SA,1649498133
74,74,sakakah,29.9697,40.2064,76.57,10,0,9.28,SA,1649498000
78,78,victoria,22.2855,114.1577,79.97,66,0,8.99,HK,1649498133
91,91,faya,18.3851,42.4509,77.52,14,0,7.81,SA,1649498134
196,196,ilia,37.7500,21.5833,71.38,52,0,8.12,GR,1649498145
272,272,gat,31.6100,34.7642,79.39,19,0,7.78,IL,1649498152
416,416,alice springs,-23.7000,133.8833,78.35,32,0,5.75,AU,1649497996
496,496,sayyan,15.1718,44.3244,72.95,11,0,3.27,YE,1649498174
562,562,atar,20.5169,-13.0499,75.25,27,0,6.91,MR,1649498181
583,583,macau,22.2006,113.5461,78.60,68,0,9.22,MO,1649498183

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = perfect_place[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country      Lat       Lng Hotel Name
40    port augusta      AU -32.5000  137.7667
60       cape town      ZA -33.9258   18.4232
71            abha      SA  18.2164   42.5053
74         sakakah      SA  29.9697   40.2064
78        victoria      HK  22.2855  114.1577
91            faya      SA  18.3851   42.4509
196           ilia      GR  37.7500   21.5833
272            gat      IL  31.6100   34.7642
416  alice springs      AU -23.7000  133.8833
496         sayyan      YE  15.1718   44.3244
562           atar      MR  20.5169  -13.0499
583          macau      MO  22.2006  113.5461

In [8]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

,City,Country,Lat,Lng,Hotel Name
40,port augusta,AU,-32.5000,137.7667,Majestic Oasis Apartments
60,cape town,ZA,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
71,abha,SA,18.2164,42.5053,Abha Hotel
74,sakakah,SA,29.9697,40.2064,Fakhamat Al Orjoana Apartment
78,victoria,HK,22.2855,114.1577,Mini Hotel Central
91,faya,SA,18.3851,42.4509,املاك خالد الشعشوع
196,ilia,GR,37.7500,21.5833,"Άγιος Γεώργιος Λατζοΐου, Ηλείας"
272,gat,IL,31.6100,34.7642,OlusHome
416,alice springs,AU,-23.7000,133.8833,Desert Palms Alice Springs
496,sayyan,YE,15.1718,44.3244,ملاطف ابوحورية
562,atar,MR,20.5169,-13.0499,Oumou Elghoura
583,macau,MO,22.2006,113.5461,Grand Emperor Hotel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))